web:
  host: "127.0.0.1:3000"

  cors:
    allowed: true
    host: "http://localhost"

  oauth:
    redirectUrl: "127.0.0.1"
    secret: ""
    allowedEmails:
      - test@mail.com

  jwt:
    secret: ""

mqtt:
  dsn: "tcp://localhost:1882"
  user: "user"
  pass: "pass"
  clientId: "my-uniq-client"

devices:
  - name: "Home"
    topic: "from-device-mqtt-config-1"
  - name: "Bedroom"
    topic: "from-device-mqtt-config-2"

storage:
  driver: "sqlite"
  dsn: "database.db"
  flushPeriod: 5m

logger:
  level: "INFO" # see slog